body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  max-width:600px;
  margin: auto;
}

/******* EXAMPLE C *******/

.rating-c .br-widget {
    height: 52px;
}

.rating-c .br-widget a {
    display: block;
    width: 37px;
    height: 37px;
    float: left;
    background-color: #e3e3e3;
    margin: 3px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.2;
    text-align: center;
    color: #b6b6b6;
}

.rating-c .br-widget a.br-active,
.rating-c .br-widget a.br-selected {
    background-color: #59a6d6;
    color: white;
}
